body{
  background-color: #eeeeee85;
}
#container {background-color: azure;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-color: blue;
  color: white;
  text-align: center;
}
#content {
  padding: 10px;
}
#nav { width: 180px;
        float: left;} 
    #nav .selected { 
      font
    }
#main { width: 600px;
        float: right;
      }
#footer {
  clear: both;
}